body,
html {
  height: 100%;
}
body {
  background-color: rgb(166, 154, 170);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.yt {
  height: 200px;
  width: 200px;
}
img {
  opacity: 0.4;
}
img:hover {
  opacity: 1;
}
